{% extends "header.html" %}



    {% block content %}
    
    <section class="section">
      <div class="auth_container">
        <div class="auth_img">
          <img src="./image/auth-image.png" alt="" class="auth_image" />
        </div>
        <div class="auth_content">
          <form action="" class="auth_form" method="POST">
            {% csrf_token %}
            <h2 class="form_title">Create your account</h2>
            <p class="auth_p">Enter your details below</p>
            {% if error_message %}
                <div class="error_message color:red">{{ error_message }}</div>
            {% endif %}
            <div class="form_group">
              <input type="text" name="username" placeholder="Name" class="form_input" />
            </div>
            <div class="form_group">
              <input type="email" name="email" placeholder="Email" class="form_input" />
            </div>
            <div class="form_group form_pass">
              <input
                type="password" name="password"
                placeholder="Password"
                class="form_input" />
            </div>
            <div class="form_group">
              <button class="form_btn" typ"submit">
                <a href="" class="form_link">Create Account</a>
              </button>
            </div>
            <div class="form_group">
              <span
                >Already have an account?
                <a href="{% url 'signin'%}" class="form_auth_link">Login</a></span
              >
            </div>
          </form>
          <a title="Google" href="/accounts/google/login/">Google</a>

        </div>
      </div>



      
    </section>
    {% endblock content %}

    