{% extends "userProfile.html" %}





{% comment %} <a href="{% url 'add-address'%}?return_url=user-address"><button class="btn btn-primary">Add Address</button></a> {% endcomment %}


{% comment %} <div class="address-div">
    {% for address in address %}
    <div class="address-rendering mb-5">
        <h1>{{address.street}}         
        <a href="{% url 'edit-address' address.id %}"><button class=" btn btn-primary ">Edit</button></a>
        <a href="{% url 'del-address' address.id%}"><button class="btn btn-danger">Delete</button></a></h1>
    </div>
    {% endfor %}
</div> {% endcomment %}


{% block innercontent %}

<div class="container" >
    
    <h1>User Address</h1>
    <a href="{% url 'add-address'%}?return_url=user-address"><button class="btn btn-primary m-5">Add Address</button></a>

    {% for address in address %}
<div class="address-card">
    
    
    <div class="address-line">
        <p><strong>Name:</strong> {{address.customers}}</p>
    </div>
    <div class="address-line">
        <p><strong>City:</strong>{{address.street}}</p>
        <p><strong>State:</strong> {{address.state}}</p>
        
    </div>
    <a href="{% url 'edit-address' address.id %}"><button class="btn btn-primary">Edit Address</button></a>
    <a href="{% url 'del-address' address.id %}"><button class="btn btn-danger">Delete Address</button></a>

    
</div>
{% endfor %}
</div>


{% endblock innercontent %}
